html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
/*-------------------------------------------------------------------*/
.noty_theme__notylo.noty_type__icone {
  height: 85px;
  width: 85px;
  position: absolute;
}

#noty_layout__notylo {
  /*background-image: url(http://img110.xooimage.com/files/2/4/5/logonoty-5381568.png);*/
  /*background: url("http://image.noelshack.com/fichiers/2018/19/4/1525912886-img-1.png") no-repeat;*/
  background-position: 0px 0px;
  position: absolute;
  bottom: 18.3%;
  right: 58.2%;
  height: 66px;
  width:  70px;
  opacity : 1;
  -webkit-animation: bounceInUp 1s, bounceOutDown 1s 6.2s;
}

.noty_theme__notyocl.noty_type__icone {
  height: 85px;
  width: 85px;
  position: absolute;
}

#noty_layout__notyocl {
  /*background-image: url(http://img110.xooimage.com/files/3/e/9/oeil-5382cc2.png);*/
  /*background: url("http://image.noelshack.com/fichiers/2018/19/4/1525912886-img-2.png") no-repeat;*/
  background-position: -68px 0px;
  position: absolute;
  bottom: 20.3%;
  right: 58.2%;
  height: 66px;
  width:  70px;
  opacity : 0;
  -webkit-animation: msgcl 0.4s;
  -webkit-animation-iteration-count: 2;
  -webkit-animation-delay: 3s;
}

@-webkit-keyframes msgcl {
0%{opacity:0;}
1%{opacity:1;}
100%{opacity:0;}
}


@-webkit-keyframes flipInX {
  from {
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    -webkit-animation-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    -webkit-animation-timing-function: ease-in;
  }

  60% {
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }

  80% {
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }

  to {
    transform: perspective(400px);
  }
}






/*-------------------------------------------------------------------*/

.noty_theme__notypex.noty_type__icone {
  height: 85px;
  width: 85px;
  position: absolute;
}

#noty_layout__notypex {
  /*background: url("https://image.noelshack.com/fichiers/2018/01/1/1514835572-1514376157-img-538475c.png") no-repeat;*/
  background-position: -120px 0px;
  position: absolute;
  bottom: 25.3%;
  right: 58.2%;
  height: 66px;
  width:  70px;
  opacity : 0;
  -webkit-animation: msgpex 0.8s;
  -webkit-animation-iteration-count: 2;
  -webkit-animation-delay: 4s;
}

@-webkit-keyframes msgpex {
0%{opacity:0;}
99%{opacity:1;}
100%{opacity:0;}
}

/* @-webkit-keyframes msgpex {
0%{opacity:0;}
99%{opacity:1;}
100%{opacity:0;}
} */
/*-------------------------------------------------------------------*/

.noty_theme__notyfsoc.noty_type__icone {
  position: absolute;
  bottom: 15%;
  right: 40%;
  width: 400px;
  z-index: -9999;
}

#noty_layout__notyfsoc {
  position: absolute;
  /*background-image: url(http://image.noelshack.com/fichiers/2018/19/4/1525912886-img-4.png) no-repeat;*/
  z-index: -9999;
  bottom: 14.3%;
  right: 40%;
  height: 95px;
  width:  400px;
  opacity : 1;
  -webkit-animation: bounceInUp 1s, bounceOutDown 1s 6.2s;
/*-webkit-animation: msgc;
  -webkit-animation-duration: 0.8s;
  -webkit-animation-iteration-count:infinite;*/
}




/*-------------------------------------------------------------------*/
.noty_theme__notys.noty_type__infos {
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  font-weight: bold;
  background-color: rgba(0,139,69, 0.7);
  border: 3px solid #d5d5d5;
  color: #FFF;
  height: 85px; 
  border-radius: 10px 10px 10px 10px;
  box-shadow:0px 0px 45px rgba(0,139,69, 1);
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}
#noty_layout__notys {
  bottom: 15%;
  right: 40%;
  width: 400px;
}
/*-------------------------------------------------------------------*/
.noty_theme__notywar.noty_type__infos {
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  font-weight: bold;
  background-color: #000;;
  border: 3px solid rgba(255, 0, 0, 0.9);
  color: #FFF;
  height: 85px; 
  border-radius: 10px 10px 10px 10px;
  box-shadow:0px 0px 45px rgba(255, 0, 0, 1);
  text-shadow: 1px 1px 2px black, 0 0 25px red, 0 0 5px darkred;
  z-index: 9999;
}

#noty_layout__notywar {
  position: absolute;
  z-index: 9999;
  bottom: 15%;
  right: 40%;
  width: 400px;
  -webkit-animation: flipInX 1s, bounceOutDown 1s 6.2s;
}

@-webkit-keyframes flipInX {
  from {
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    -webkit-animation-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    -webkit-animation-timing-function: ease-in;
  }

  60% {
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }

  80% {
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }

  to {
    transform: perspective(400px);
  }
}


/*-------------------------------------------------------------------*/
.noty_theme__notyinfo.noty_type__infos {
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  font-weight: bold;
  background-color: #252525;
  border: 3px solid rgba(240,255,0, 1);
  color: #FFF; 
  border-radius: 10px 10px 10px 10px;
  box-shadow:0px 0px 45px rgba(240,255,0, 1);
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}
#noty_layout__notyinfo {
  position: absolute;
  bottom: 15%;
  right: 40%;
  width: 400px;

 }

/*-------------------------------------------------------------------*/
.noty_theme__notyc.noty_type__infos {
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  font-weight: bold;
  background-color: rgba(0,0,0, 0.7);
  border: 3px solid #ebebeb;
  color: #FFF; 
  border-radius: 10px 10px 10px 10px;
}

#noty_layout__notyc {
  position: absolute;
  bottom: 15%;
  right: 40%;
  width: 400px;
}

/*-------------------------------------------------------------------*/
.noty_theme__notysuc.noty_type__infos {
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  font-weight: bold;
  background-color: #000;
  border: 3px solid #f8f8ff;
  color: #FFF;
  height: 85px; 
  border-radius: 10px 10px 10px 10px;
  box-shadow:0px 0px 45px rgba(0,139,69, 1);
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}
#noty_layout__notysuc {
  position: absolute;
  bottom: 15%;
  right: 40%;
  width: 400px;
}
/*-------------------------------------------------------------------*/
.noty_theme__notypm.noty_type__icone {
  height: 85px;
  width: 85px;
}
#noty_layout__notypm {
  background-image: url(http://img110.xooimage.com/files/8/e/3/msg-5379b6d.png);
  background-repeat: no-repeat;
  bottom: 65%;
  right: 1%;
  height: 80px;
  width: 80px;
  -webkit-animation: msgc;
  -webkit-animation-duration: 0.8s;
  -webkit-animation-iteration-count:infinite;
}

.noty_theme__notypm.noty_type__icone {
  height: 85px;
  width: 85px;
}
#noty_layout__notypa {
  background-image: url(http://img110.xooimage.com/files/e/5/d/appel-5379b6f.png);
  background-repeat: no-repeat;
  bottom: 65%;
  right: 1%;
  height: 80px;
  width: 80px;
  -webkit-animation: msgc;
  -webkit-animation-duration: 0.8s;
  -webkit-animation-iteration-count:infinite;
}

.noty_theme__notyca.noty_type__icone {
  height: 85px;
  width: 85px;
}
#noty_layout__notyca {
  background-image: url(http://img110.xooimage.com/files/b/8/6/giro-5379bf4.png);
  background-repeat: no-repeat;
  bottom: 65%;
  right: 1%;
  height: 80px;
  width: 80px;
  -webkit-animation: msgc;
  -webkit-animation-duration: 0.8s;
  -webkit-animation-iteration-count:infinite;
}

/*-------------------------------------------------------------------*/

#noty_layout__notysuc, #noty_layout__notypex,  #noty_layout__notylo,  #noty_layout__notyfsoc, #noty_layout__notyinfo, #noty_layout__notyc, #noty_layout__notypm, #noty_layout__notypa, #noty_layout__notyca, #noty_layout__notyocl {
  position: fixed;
  margin: 0;
  padding: 0;
  z-index: 9999999;
  -webkit-transform: translateZ(0) scale(1, 1);
          transform: translateZ(0) scale(1, 1);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-font-smoothing: subpixel-antialiased;
  filter: blur(0);
  -webkit-filter: blur(0);
  max-width: 90%; }

@-webkit-keyframes clignotebox {
0%{box-shadow:0px 0px 10px #15406a;}
50%{box-shadow:0px 0px 0px #15406a;}
100%{box-shadow:0px 0px 10px #15406a;}
}

.bounceOutDown {
    opacity: 1;
    -webkit-animation: bounceOutDown 1.0s;
}
@-webkit-keyframes bounceOutDown {
    from {
    transform: perspective(400px);
  }

  30% {
    transform: perspective(400px) rotate3d(0, 1, 0, -15deg);
    opacity: 1;
  }

  to {
    transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    opacity: 0;
  }
}

.bounceInUp {
    opacity: 1;
    -webkit-animation: bounceInUp 1s;
}
@-webkit-keyframes bounceInUp {
   from {
    transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
    animation-timing-function: ease-out;
  }

  40% {
    transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg);
    animation-timing-function: ease-out;
  }

  50% {
    transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg);
    animation-timing-function: ease-in;
  }

  80% {
    transform: perspective(400px) scale3d(.95, .95, .95);
    animation-timing-function: ease-in;
  }

  to {
    transform: perspective(400px);
    animation-timing-function: ease-in;
  }
}

@-webkit-keyframes msgc {
0%{opacity:0;}
100%{opacity:1;}
}

.flash {
    opacity: 1;
    -webkit-animation: flash 0.1;
}

@-webkit-keyframes flash {
  0%, 50%, 100% {
    opacity: 1;
  }

  25%, 75% {
    opacity: 0;
  }
}

@keyframes flash {
  0%, 50%, 100% {
    opacity: 1;
  }

  25%, 75% {
    opacity: 0;
  }
}
/*# sourceMappingURL=noty.css.map*/