#status_list {
	position: absolute;
	left   : 23;
	bottom : 21%;
	width  : 14.5%;
	opacity: 0.7;
}

.status {
	padding: 1px;
	margin: 0.3em;
	background-color: #f3f3f3;
    border: 0;
    height: 14px;
}

.status_inner {
	padding: 2px;
}

.status_val {
	height : 0.6em;	
}